<div class="container">
    <form action="" method="post" class="form-login">
        <div>
            <div class="input">
                <input type="text" placeholder="Email or Phone Number">
            </div>
            <div class="input">                <input type="password" placeholder="Password">
A            </div>
            <div class="input">
                <input type="password" placeholder="Conform Password">
            </div>
        </div>
        <div class="login-button">
            <button class="button"><b>Submit</b></button>
        </div>
    </form>
</div>

