
  <div class="container">
    
          <div class="content">
            <div class="text">Sign Up</div>
            <form action="#" >
              
              <div class="field">
                <input type="text"  name="firstName" required (keyup)="onKey($event, 'firstName')" /><br />
                <p *ngIf="!valid.firstName" class="text-red-500 text-xs italic">your firstName is not valid</p>
                <span class="fas fa-user"></span>
                <label>First Name</label>
              </div>
              <div class="field">
                <input type="text"  name="lastName"  required (keyup)="onKey($event, 'lastName')"/>
                <p *ngIf="!valid.lastName" class="text-red-500 text-xs italic">your email is not valid</p>
                <span class="fas fa-user"></span>
                <label>Last Name</label>
              </div>
              <div class="field">
                <input type="email"   name="email" placeholder="Email"required (keyup)="onKey($event, 'email')" />
                <p *ngIf="!valid.email" class="text-red-500 text-xs italic">your email is not valid</p>
                <span class="fas fa-user"></span>
                
              </div>
              <div class="field">
                <input type="password"   name="password" required (keyup)="onKey($event, 'password')"/>
                <br>
                <span class="fas fa-lock"></span>
                <br />
                <p *ngIf="!valid.password" class="text-red-500 text-xs italic"><br/>your password is not valid</p>
                <label>Password</label>
              </div>
              <div class="field">
                <input type="confirmPassword"  name="confirmPassword" required (keyup)="onKey($event, 'confirmPassword')"/>
                
                <span class="fas fa-lock"></span>
                <label>Confirm Password</label>
              </div>
              
              <button  routerLink="" routerLinkActive="active">Sign up</button>
              <div class="sign-up">
              <a routerLink="/login">Alread Have Account? sign in </a>
              </div>
              
            </form>
          </div>
      