
  <div class="container">
    
          <div class="content">
            <div class="text">Sign Up</div>
            <form action="#" >
              <form [formGroup]="registrationForm">
              <div class="field">
                <input type="text" formControlName="FirstName" required />
                <span class="fas fa-user"></span>
                <label>First Name</label>
              </div>
              <div class="field">
                <input type="text" formControlName="LastName" required />
                <span class="fas fa-user"></span>
                <label>Last Name</label>
              </div>
              <div class="field">
                <input type="email" formControlName="email" required />
                <span class="fas fa-user"></span>
                <label>Email or Phone</label>
              </div>
              <div class="field">
                <input type="password" formControlName="password" required />
                <span class="fas fa-lock"></span>
                <label>Password</label>
              </div>
              <div class="field">
                <input type="password" formControlName="conformPassword" required />
                <span class="fas fa-lock"></span>
                <label>Conform Password</label>
              </div>
              
              <button type="submit" >Sign up</button>
              <div class="sign-up">
              <a routerLink="/login">Alread Have Account? sign in </a>
              </div>
              </form>
            </form>
          </div>
      