<div class="content">
    <div class="text">
      Login 
    </div>
    <form action="#">
      <div class="field">
        <input type="text" required>
        <span class="fas fa-user"></span>
        <label>Email or Phone</label>
      </div>
      <div class="field">
        <input type="password" required>
        <span class="fas fa-lock"></span>
        <label>Password</label>
      </div>
      <div class="forgot-pass">
        <a routerLink="forgot-pass">Forgot Password?</a>
      </div>
      <button>Sign in</button>
      <div class="sign-up">
        Not a member?
        <a routerLink="registration">Registration now</a>
      </div>
    </form>
</div>
 