<div class="content">
  <div class="text">Login</div>
  <form action="#" >
    <div class="field">
      <input type="email" placeholder="Email" required (keyup)="onKey($event, 'email')"/>

      <p *ngIf="!valid.email" class="text-red-500 text-xs italic">your email is not valid</p>
  
    </div>
    <div class="field">
      <input type="password" required (keyup)="onKey($event, 'password')"/>
      <p *ngIf="!valid.password" class="text-red-500 text-xs italic">your password is invalid</p>
      <span class="fas fa-lock"></span>
      <label>Password</label>
      
    </div>
    <div class="forgot-pass">
      <a routerLink="/forgot-password">Forgot Password?</a>
    </div>
    <button type="submit" >Sign In</button>
    <div class="sign-up">
      Not a member?
      <a routerLink="/registration">Sign Up</a>
    </div>
  </form>
</div>
