
<section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-8 col-xl-6">
          <div class="row">
            <div class="col text-center title">
             <h1>Register</h1>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col mt-4">
              <input type="text" class="form-control" formControlName="name"placeholder="First Name">
              <span class="text-danger"
              *ngIf="(registerFormControl.name.touched || submitted) && registerFormControl.name.errors?.required">
            </div>
          </div>
          <div class="row align-items-center mt-4">
            <div class="col">
              <input type="text" class="form-control" formControlName="name" placeholder="Last Name">
              <span class="text-danger"
              *ngIf="(registerFormControl.name.touched || submitted) && registerFormControl.name.errors?.required">
              Name is required
          </span> 
            </div>
          </div>
          <div class="row align-items-center mt-4">
            <div class="col">
              <input type="text" class="form-control" formControlName="email" placeholder="Email">
              <span class="text-danger"
              *ngIf="(registerFormControl.email.touched || submitted) && registerFormControl.email.errors?.required">
              Name is required
          </span>
          <span class="text-danger"
          *ngIf="registerFormControl.email.touched && registerFormControl.email.errors?.email">
          Enter a valid email address
      </span>
            </div>
          </div>
          
          <div class="row align-items-center mt-4">
            <div class="col">
              <input type="password" class="form-control" formControlName="password" placeholder="Password">
            </div>
            <span class="text-danger"
            *ngIf="(registerFormControl.password.touched || submitted) && registerFormControl.password.errors?.required">
            Password is required
        </span>
        <span class="text-danger"
            *ngIf="registerFormControl.password.touched && registerFormControl.password.errors?.invalidPassword">
            Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
            letter and 1 number
        </span>
            <div class="col">
              <input type="password" class="form-control" placeholder="Confirm Password">
              <span class="text-danger"
              *ngIf="(registerFormControl.confirmPassword.touched || submitted)&& registerFormControl.confirmPassword.errors?.required">
              Confirm Password is required
          </span>
          <span class="text-danger"
              *ngIf="registerFormControl.confirmPassword.touched && registerFormControl.confirmPassword.errors?.passwordMismatch">
              Passwords doesnot match
          </span>
            </div>
          </div>
          <div class="row justify-content-start mt-4">
            <div class="col">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input">
                  I hereby agree to abide by the <a href="/">Terms and Conditions.</a>
                </label>
              </div>

              <button class="btn btn-primary mt-4">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>